/breaking-bad/.next
/breaking-bad/node_modules

/CRUD/node_modules

/dashboard/.next
/dashboard/node_modules

/horario/node_modules

/typescript/bank-app/node_modules
/typescript/react-quiz/node_modules
/typescript/react-ts-webpack/node_modules
/typescript/typescript-tutorial/node_modules